@charset "UTF-8";
@import "./utils/variables";
@import "./base/base";
@import "./components/buttons";
@import "./layout/loader";
@import "./layout/header";
@import "./layout/footer";


#head {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  height: 30px;
}

#head .menu_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu_header a{
  position: absolute;
  left: 10%;
  color: black;
  font-size: 20px;
}

.main_menu img{
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.img_restaurant{
  height: 230px;
}



.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  gap: 20px;
}

.nos_restaurants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  padding-bottom: 40px;
}

.nos_restaurants h2 {
  text-align: center;
}

.nos_restaurants p {
  text-align: center;
  padding: 0 45px;
}

.nos_restaurants .btn {
  border-radius: 30px;
  padding: 15px;
  border: none;
  margin: 20px 0 30px 0;
  font-size: 1em;
  cursor: pointer;
  color: white;
  background: linear-gradient(177deg, #FF79DA, #9356DC);
}

/*fonctionnement*/
.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 0 20px 0;
}
.fonctionnement h2{
  padding-left: 14px;
}
.fonctionnement ol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  counter-reset: steps;
}

.fonctionnement ol li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  width: 85%;
  list-style-type: none;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0 5px 5px darkgrey;
  transition: 0.2s;
  font-weight: 600;
  position: relative;
}

.fonctionnement ol li i {
  color: grey;
  align-items: center;
  position: absolute;
  left: 10%;
  font-size: 20px;
}
.fonctionnement p{
  text-align: center;
}

.fonctionnement ol li:hover {
  background-color: #F5EDFF;
}

.fonctionnement ol li:hover i {
  color: $color-primary;
}

.fonctionnement ol li::before {
  content: counter(steps);
  counter-increment: steps;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -24px;
  border: 1px solid;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: $color-primary;
  color: white;
  transform: translate(10px, -1px);
}

/*fin fonctionnement*/
/*début restaurants*/
.restaurants {
  background-color: #eaeaea;
  padding: 30px 20px;
}

.card_restaurants {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.card {
  text-decoration: none;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
}

.card_images {
  height: 12rem;
  width: 100%;
}

.card_images img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.new {
  position: absolute;
  right: 45px;
  margin-top: 20px;
  padding: 10px;
  color: #065f2e;
  background-color: $color-tertiary;
  font-weight: 600;
}

.card_description {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.card_heart {
  font-size: xx-large;
}

.card_title p {
  margin-top: -15px;
}
/*carte des menus*/
.container_menu{
  display: flex;
  flex-direction: column;
  border-radius: 35px 35px 0 0;
  transform: translateY(-28px);
  padding-top: 10px;
  background-color: white;
}
.restaurant_title{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container_menu h1{
  font-family: "Shrikhand";
  font-size: 32px;
}
.container_menu h3{
  font-weight: lighter;
  padding-left: 26px;
}
.bottom_border{
  border: $color-tertiary solid;
  position: absolute;
  transform: translateY(-14px);
  left: 27px;
  width: 8%;
}
.card_menu{
  height: 85px;
  border-radius: 20px;
  box-shadow: 2px 8px 16px lightgray;
  margin: 20px;
  padding: 0 25px 5px 10px;
}
.card_menu p{
  display: flex;
  justify-content: space-between;
}
.card_menu h4{
  margin-bottom: 0;
  padding-top: 10px;
  font-size: large;
}


/*# sourceMappingURL=styles.css.map */
