footer {
  .footer_conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    padding-left: 20px;

    h3 {
      font-family: "Shrikhand", cursive;
    }

    a {
      color: white;
      text-decoration: none;
      line-height: 28px;
    }
  }

  background: #353535;
  color: white;
}

.footer_conteneur i.fa-solid.fa-utensils {
  margin-right: 6px;
}
.footer_flex{
  display: flex;
  flex-direction: column;
}