main{
    .nos_restaurants {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #f6f6f6;
      padding-bottom: 30px;
    
    .btn{
      border-radius: 30px;
      padding: 15px;
      border: none;
      margin: 20px 0 30px 0;
      font-size: 1em;
      cursor: pointer;
      color: white;
      background: linear-gradient(177deg, #FF79DA, #9356DC);
    }
    }
    }
    .nos_restaurants p{
      padding: 0 10px;
    }
    .nos_restaurants h2{
      font-size: 25px;
      padding: 10px 10px 0 10px;
      margin-bottom: 0;
    }