/*keyframes animation check*/
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*keyframes animation menu*/
@keyframes animation_menus {
  from {
    transform: translateY(-2%);
    opacity: 0;
    transition: ease-in-out;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*keyframe loader ohmyfood*/
@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ender {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -999;
  }
}
body {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Shrikhand", Arial, sans-serif;
}

.btn {
  border-radius: 30px;
  padding: 15px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: white;
  background: linear-gradient(177deg, #FF79DA, #9356DC);
  text-align: center;
  margin: 0 60px 60px;
  box-shadow: 0 5px 5px darkgrey;
}

.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: ender;
  animation-duration: 3;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.container p {
  position: absolute;
  font-family: "Shrikhand";
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #9356DC, #FF79DA);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.circle_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #9356DC dashed 6px;
  animation: turn ease-in-out;
  animation-duration: 2.7s;
  animation-timing-function: linear;
}

.circle_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: #FF79DA solid 5px;
}

.circle_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: #99E2D0 solid 5px;
  animation: turn reverse 2.7s linear;
}

#head {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  height: 30px;
}

#head .menu_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu_header a {
  position: absolute;
  left: 10%;
  color: black;
  font-size: 20px;
}

.main_menu img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.img_restaurant {
  height: 230px;
}

main .localisation {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  gap: 20px;
  padding: 10px 30px;
}
main .localisation i {
  margin-left: 90px;
}
main input {
  border: none;
  font-size: larger;
  background-color: #eaeaea;
}
main .search::placeholder {
  content: "";
  color: black;
}

main .fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 0 20px 0;
}
main .fonctionnement h2 {
  padding-left: 14px;
}
main .fonctionnement p {
  text-align: center;
}
main .fonctionnement ol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  counter-reset: steps;
}
main .fonctionnement ol li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  width: 85%;
  list-style-type: none;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0 5px 5px darkgrey;
  transition: 0.2s;
  font-weight: 600;
  position: relative;
}
main .fonctionnement ol li i {
  color: grey;
  align-items: center;
  position: absolute;
  left: 10%;
  font-size: 20px;
}
main .fonctionnement ol li:hover {
  background-color: #F5EDFF;
}
main .fonctionnement ol li:hover i {
  color: #9356DC;
}
main .fonctionnement ol li::before {
  content: counter(steps);
  counter-increment: steps;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -24px;
  border: 1px solid;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #9356DC;
  color: white;
  transform: translate(10px, -1px);
}

main .nos_restaurants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 30px;
}
main .nos_restaurants .btn {
  border-radius: 30px;
  padding: 15px;
  border: none;
  margin: 20px 0 30px 0;
  font-size: 1em;
  cursor: pointer;
  color: white;
  background: linear-gradient(177deg, #FF79DA, #9356DC);
}

.nos_restaurants p {
  padding: 0 10px;
}

.nos_restaurants h2 {
  font-size: 25px;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}

main .restaurants {
  background-color: #eaeaea;
  padding: 30px 20px;
}
main .card_restaurants {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
main .card {
  position: relative;
  text-decoration: none;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}
main .card:hover {
  box-shadow: 0 0 10px #99E2D0;
  transition: 0.2s;
}
main .card_images {
  height: 12rem;
  width: 100%;
}
main .card_images img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
main .new {
  position: absolute;
  right: 33px;
  margin-top: 20px;
  padding: 10px;
  color: #065f2e;
  background-color: #99E2D0;
  font-weight: 600;
}
main .card_description {
  position: relative;
  color: black;
  padding: 0 20px;
}
main .card_heart {
  font-size: xx-large;
  position: relative;
  cursor: pointer;
}
main .card_heart i.fa-heart {
  position: absolute;
  right: 20px;
  bottom: 60px;
}
main .card_heart i.fa-solid.fa-heart {
  opacity: 0;
}
main .card_heart i.fa-solid.fa-heart:not(:active) {
  opacity: 0;
}
main .card_heart i.fa-solid.fa-heart:hover {
  opacity: 1;
  color: transparent;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
}
main .card_title p {
  margin-top: -15px;
}

/*carte des menus*/
.container_menu {
  display: flex;
  flex-direction: column;
  border-radius: 35px 35px 0 0;
  transform: translateY(-28px);
  padding-top: 10px;
  background-color: white;
}

.restaurant_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.restaurant_title .card_heart {
  top: 74px;
}

.container_menu h1 {
  font-family: "Shrikhand";
  font-size: 26px;
  padding-right: 20px;
}

.container_menu h3 {
  font-weight: lighter;
  padding-left: 26px;
}

.bottom_border {
  border: #99E2D0 solid;
  position: absolute;
  transform: translateY(-14px);
  left: 27px;
  width: 8%;
}

.card_menu {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 20px;
  box-shadow: 5px 5px 10px darkgrey;
  margin: 0 30px 10px;
  padding: 0 10px;
  align-items: center;
  overflow: hidden;
  background: #FFFFFF;
  cursor: pointer;
}

.card_menu .article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -25px;
  white-space: nowrap;
  overflow: hidden;
}

.card_menu .price {
  padding-right: 20px;
  padding-left: 5px;
}

.price {
  font-weight: bold;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  color: white;
  padding: 0 25px;
  height: 80px;
  margin-right: -90px;
  border-radius: 0 20px 20px 0;
  font-size: x-large;
}

.card_menu:hover .check {
  opacity: 1;
  transition: transform 0.5s ease-in-out;
  transition-property: margin-right;
  background: white;
  background-color: #99E2D0;
  margin-right: -10px;
}

.card_menu:hover i {
  animation: circle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background: #99E2D0;
  color: white;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.card_menu .article h4 {
  margin-bottom: 0;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_menu .article span {
  margin-top: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_entrees {
  animation: animation_menus;
  animation-delay: 0s;
  animation-duration: 2s;
}

.menu_plats {
  animation: animation_menus;
  animation-delay: 0.4s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.menu_desserts {
  animation: animation_menus;
  animation-delay: 0.8s;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

footer {
  background: #353535;
  color: white;
}
footer .footer_conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
}
footer .footer_conteneur h3 {
  font-family: "Shrikhand", cursive;
}
footer .footer_conteneur a {
  color: white;
  text-decoration: none;
  line-height: 28px;
}

.footer_conteneur i.fa-solid.fa-utensils {
  margin-right: 6px;
}

.footer_flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  main .fonctionnement ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 0 30px;
  }
  main.restaurants {
    padding: 40px;
  }
  .restaurant_title {
    justify-content: space-between;
    margin: 0 20px;
  }
  .bottom_border {
    position: inherit;
    margin-left: 26px;
  }
  main .card_restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .card {
    width: 600px;
    height: 300px;
  }
  main .card_heart {
    right: 20px;
    top: 40px;
  }
  .menu_flex {
    display: flex;
  }
  .menu_entrees, .menu_plats, .menu_desserts {
    width: 33%;
  }
  .main_menu .btn {
    width: 20%;
    margin-bottom: 40px;
  }
  .btn_center {
    display: flex;
    justify-content: center;
  }
  footer h3 {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
  }
  footer .footer_flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 20px 0;
  }
}
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
