@charset "UTF-8";
body {
  font-family: "Shrikhand", "Roboto", Arial, sans-serif;
  box-sizing: border-box;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: #FF79DA;
  animation-delay: 3s;
}

#head {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.logo {
  height: 30px;
}

.menu_header {
  display: flex;
  justify-content: center;
}

.menu_header img::before {
  font-weight: 100;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  gap: 20px;
}

.nos_restaurants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}

.nos_restaurants h2 {
  text-align: center;
}

.nos_restaurants p {
  text-align: center;
  padding: 0 10px;
}

.nos_restaurants .btn {
  border-radius: 30px;
  padding: 15px;
  cursor: pointer;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}

/*fonctionnement*/
.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0 0 20px 0;
}

.fonctionnement ol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  counter-reset: steps;
}

.fonctionnement ol li {
  align-items: center;
  flex-direction: row;
  padding: 20px;
  width: 88%;
  list-style-type: none;
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 0 0 10px darkgrey;
  transition: 0.2s;
  font-weight: 600;
}

.fonctionnement ol li i {
  color: grey;
  align-items: center;
  padding-right: 20px;
}

.fonctionnement ol li:hover {
  background-color: #F5EDFF;
}

.fonctionnement ol li:hover i {
  color: #9356DC;
}

.fonctionnement ol li::before {
  content: counter(steps);
  counter-increment: steps;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  border: 1px solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  color: white;
  transform: translate(10px, -3px);
}

/*fin fonctionnement*/
/*début restaurants*/
.restaurants {
  background-color: #eaeaea;
  padding: 30px 20px;
}

.card_restaurants {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.card {
  text-decoration: none;
  border-radius: 30px;
  overflow: hidden;
  background-color: white;
}

.card_images {
  height: 12rem;
  width: 100%;
}

.card_images img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.new {
  position: absolute;
  right: 45px;
  margin-top: 20px;
  padding: 10px;
  color: #065f2e;
  background-color: #99E2D0;
  font-weight: 600;
}

.card_description {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.card_heart {
  font-size: xx-large;
}

.card_title p {
  margin-top: -15px;
}

/*fin restaurants*/
footer {
  background: #353535;
  color: white;
}

footer .footer_conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding-left: 20px;
}

footer .footer_conteneur h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

footer .footer_conteneur a {
  color: white;
  text-decoration: none;
  line-height: 28px;
}

.footer_conteneur i.fa-solid.fa-utensils {
  margin-right: 6px;
}

/*# sourceMappingURL=styles.css.map */
