.btn{
    border-radius: 30px;
    padding: 15px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: white;
    background: linear-gradient(177deg, #FF79DA, #9356DC);
    text-align: center;
    margin: 0 60px 60px;
    box-shadow: 0 5px 5px darkgrey;
  }