@font-face {
    font-family: "Shrikhand";
    src: url('public/Fonts/Shrikhand-Regular.otf') format('opentype');
}
@font-face {
    font-family: "Roboto";
    src: url('public/Fonts/Roboto-Regular.ttf') format('truetype');
}